 .container {
     position: relative;
     top: 50%;
     transform: translateY(-50%);
     height: 70%;
     width: 100%;
     padding: 10px;
 }

 input {
     border: 1px solid black
 }

 .card-left-side {
     border-right: 1px solid rgba(128, 128, 128, 0.66);
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;

 }

 .card-left-side .speaker {
     cursor: pointer;
 }

 .card-title {
     font-size: 40px;
 }

 .word-detail {
     padding: 12px;
 }

 input.form-control:focus {
     box-shadow: none;
     border-color: black;
 }


 .input-group {
     display: flex;
     justify-content: center;
 }

 .card {
     min-width: 600px;
     max-width: 800px;
     margin: 20px auto 0 auto;
     background-color: #b0b3b8 !important;
     border: 1px solid black;
 }


 .beforeSearch {
     color: rgba(0, 0, 0, 0.7);
 }

 .btnSearch {
     background-color: #6b7274 !important;
     color: #ffffff !important;
 }

 .btnSearch:hover {
     background-color: rgba(176, 185, 188, 0.275) !important;
 }

 .appTitle {
     text-align: center;
     padding: 30px;
     color: #fff;
 }

 .toast {
     position: absolute;
     top: -20%;
     left: 50%;
     transform: translateX(-50%);
 }

 .toastBody {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .closeToast {
    cursor: pointer;
 }