 .container {
     position: relative;
     top: 50%;
     transform: translateY(-50%);
     height: 70%;
     width: 100%;
     padding: 10px;
 }

 .appTitle {
     text-align: center;
     padding: 30px;
     color: #333333;
 }


 input {
     border: 1px solid black
 }

 input.form-control:focus {
     box-shadow: none;
     border-color: black;
 }

 .input-group {
     display: flex;
     justify-content: center;
 }

 .card {
     min-width: 600px;
     max-width: 800px;
     margin: 0 auto 30px auto;
     background-color: #e7e7e7 !important;
     color: #fff;
     border: 1px solid black;
 }

 .card-top {
     text-align: center;
     background-color: #4f4e4e;
     color: #fff;
     padding: 10px;
     border-radius: 10px;
 }

 .definition {
     font-weight: 600;
 }

 .example {
     list-style: none;
 }

 .borderOfDefinition {
     margin-bottom: 40px;
 }

 .card-top .speaker {
     cursor: pointer;
 }

 .card-title {
     font-size: 40px;
 }

 .word-detail {
     padding: 12px;
 }

 .beforeSearch {
     color: rgba(0, 0, 0, 0.7);
 }

 .toast {
     position: absolute;
     top: -20%;
     left: 50%;
     transform: translateX(-50%);
 }

 .toastBody {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .closeToast {
     cursor: pointer;
 }

 .btnSearch {
     background-color: #4f4e4e !important;
     color: #ffffff !important;
 }

 .btnSearch:hover {
     background-color: rgba(176, 185, 188, 0.275) !important;
     border: 1px solid #4b4a4a5f !important;
 }